.Destaque{
    display: flex;
    flex-direction: column;
    width: 780px;
    height: 312px;
    border-radius: 16px;
    background-color: var(--fundo-card);
    padding-left: 20px;
    margin: 20px 0 20px 154px;

    .Title h2{
    color: var(--texto-primario);
    padding: 10px 0 0 4px;
    font-weight: 600;
    font-size: 20px;

    }

} 

.Cards img{
    width: 236px;
    height: 152px;
    object-fit:contain;
    aspect-ratio: 3/2;
    padding: 4px 00;

}

.Cards{
    display: flex;
    flex-direction: flex;    
    gap: 14px;

    p{
        color: var(--texto-secundario);
        padding: 6px 10px;
        font-weight: 400;
        font-size: 12px;
    }

    span{
        color: var(--texto-primario);
        padding: 6px 10px;
        font-weight: 400;
        font-size: 14px;

    }

    .Publi1{
        width: 238px;
        height: 250px;
        border-width: 1px;
        background-color: var(--fundo-card);
        border-radius: 8px;
        border: solid 1px white;   
        margin-top: 10px;     
    }

    .Engajamento img{
        width: 32px;
        height: auto;
        padding: 0;
    }

    .Engajamento{
        display: flex;
        justify-content: space-between;    
        padding: 0 6px;    
    }
     .Contagem{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
     }

}

